body{
    
    background-image: url('https://images.unsplash.com/photo-1559827291-72ee739d0d9a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY0MTI2NjIwMg&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600'); 
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: flex;
    flex-direction: column;
    height:100vh;
    color: #f0d43a;
    align-items: center;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.holder{
    color: white;
    font-family: 'Roboto', sans-serif;
}

.card{
    background: #000000d0;
    margin: 1em;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 20px;
    padding: 2em;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.entry{
    margin-top: 15px;
    font-family: 'Roboto', sans-serif;
}

#entryHolder{
   
}

#city{
    margin-top: 5px;
    text-align: left;
    font-weight: bold;
    font-size: larger;
}

#temp{
    float: right;
    
    
    font-size: 60px;
}

#date{
    margin-top: 5px;
    text-align: left;
    font-size: large;
}



#row{
    display: flex;
    align-items: center;
    justify-content: left;
    
}

#icon{
    display: none;
    
}

#desc{
    
}
#content{
    margin-top: 15px;
    text-align: left;
}

.headline {
    margin-top: 1em;
    font-size: 1.5em;
}
.title{

}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    
    
    background: #7c7c7c2b;
    color: white;
    width: 100%;
    height: 50%;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    border: none;
    border-radius: 15px;
}

button{
    
    background: #3b4a6b;
    color: white;
    margin-top: 15px;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 4px 5px #444;
}
h1{
    font-size: 36px;
}

textarea{
    margin-top: 15px;
    background: #7c7c7c2b;
    color: white;
    height: 2em;
    width: 100%;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    border: none;
    border-radius: 15px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: gray; 
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 